{
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "no-underscore-dangle": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  }
}
